.Kirang {
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
}

.regular {
  font-family: "Black And White Picture", system-ui;
  font-weight: 400;
  font-style: normal;
}
